In [56]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy as np

In [57]:
plt.style.use('fivethirtyeight')
cols=["forex_rate","cpi","ppi","bank_rate","current_account","inflation_rate","gdp","per1","per2","per3"]
data=pd.read_table('Workbook3.csv',sep=',',names=cols,parse_dates=[0], index_col=0,header=0)
data.forex_rate=data.forex_rate.astype(float)
data.head()

,forex_rate,cpi,ppi,bank_rate,current_account,inflation_rate,gdp,per1,per2,per3
1973-01-04,8.00,5.249812,43.0,6.0,-216000000.0,0.0,2.110000e+11,8.02,8.02,8.02
1973-01-05,8.01,5.249812,43.0,6.0,-216000000.0,0.0,2.110000e+11,8.00,8.02,8.02
1973-01-06,8.01,5.249812,43.0,6.0,-216000000.0,0.0,2.110000e+11,8.01,8.00,8.02
1973-01-07,8.01,5.249812,43.0,6.0,-216000000.0,0.0,2.110000e+11,8.01,8.01,8.00
1973-01-08,8.00,5.249812,43.0,6.0,-216000000.0,0.0,2.110000e+11,8.01,8.01,8.01

In [58]:
cols2=["cpi","ppi","bank_rate","current_account","inflation_rate","gdp","per1","per2","per3"]
y=data["forex_rate"]
x=data[cols2]

In [59]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.75,test_size=0.25,random_state=0)

In [60]:
svr=SVR(epsilon=2)
svr.fit(x_train, y_train)
y_pred=svr.predict(x_test)

/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [61]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.8518566341400933

In [50]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

53.76462351836157